:root {
    --main-color: # 
    --secondary-color: #;
}

body {
    background-color: #ffffff;
    color: var(--main-color);
    font-family: Roboto, sans-serif;
    Font: Roboto; 
    Weight: 500, Medium;
}

ul {
    list-style: none;
}

/*-----------------LOGO------------------------*/

.header-logo {
    color: #2196f3;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-accent {
    color: #000000;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/*-----------------HEADER-------------------*/

.header-item .link:hover,
.header-item .link:focus {
    color: #2196f3;
}

.header-item .link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: #212121;
}

.contact,
.contact-item .contact-link:hover,
.contact-item .contact-link:focus {
    color: #2196f3;
}

.contact,
.contact-item .contact-link,
.contact-item .contact-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

/*-----------------FILTER------------------------*/

.hidden-gallery {
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    margin: -1px;
}

.filter-link{
    background-color: #ffffff;
}

.filter-button:hover,
.filter-button:focus{
    color: #2196f3;
}

.filter-link:hover,
.filter-link:focus {
    color: #ffffff;
}
/*---font-family: inherit;---*/
/*-----------------MAIN--------------------------*/

.main-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.main-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}
/*-----------------FOOTER------------------------*/

.footer-section {
    background-color: #2F303A;
}

.footer-logo {
    color: #2196f3;
    font-family: Raleway, sans-serif;
}

.accent-logo {
    color: #ffffff;
    font-family: Raleway, sans-serif;
}

.adress-title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #000000;
}

.contact-adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}