/* чорний колір тексту 212121 */
/* сірий колір тексту 757575 */
/* синій колір тексту 2196F3 */
/* білий колір тексту FFFFFF */
/* адреса знизу color: rgba(255, 255, 255, 0.6); */
/* цвет фона команды #2F303A */
/* серый бекграунд #2F303A */

:root {
    --main-color: #757575
    --secondary-color: #212121;
}

body {
    background-color: #fff;
    color: var(--main-color);
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
}

/*-----------------LOGO------------------------*/

.header-logo {
    color: #2196f3;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-accent {
    color: #000000;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
/*-----------------HEADER-------------------*/

.header-item .link:hover,
.header-item .link:focus {
    color: #2196f3;
}

.header-item .link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: #212121;
}

.contact,
.contact-item .contact-link:hover,
.contact-item .contact-link:focus {
    color: #2196f3;
}

.contact,
.contact-item .contact-link,
.contact-item .contact-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

/*-----------------HERO--------------------------*/

.hero {
    background-color: #2F303A;
}

.hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #2196f3;
}

.hero-button {
    background-color: #2196f3;
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/*-----------------FEATURES----------------------*/

.hidden-title {
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    margin: -1px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.feature-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
/*-----------------SERVICE-----------------------*/

.work-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
}

/*-----------------TEAM-SPACE--------------------*/

.team-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.name-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
}

.team-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/*-----------------FOOTER------------------------*/

.footer-section {
    background-color: #2F303A;
}

.footer-logo {
    color: #2196f3;
    font-family: Raleway, sans-serif;
}

.accent-logo {
    color: #ffffff;
    font-family: Raleway, sans-serif;
}

.adress-title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #000000;
}

.contact-adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}