html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --main-color: #2196f3;
    --secondary-color: #000000;
    --headertext-color: #212121;
    --text-color: #757575;
    --light-color: #ffffff;
    --background-color: #2F303A;
    --onetime-color: #f5f4fa;
    --buttomhover-color: #188CE8;
}

body {
    color: var(--main-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03em;
    font-size: 14px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.section {
    padding-top: 15px;
    padding-bottom: 15px;
}

h1,h2,h2,h4,h5,h6,p,ul{}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.pointer {
    cursor: pointer
}

/*-----------------LOGO------------------------*/

.header-logo,
.logo-accent {
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.header-logo {
    color: var(--main-color);
}

.logo-accent {
    color: var(--secondary-color);
}

/*-----------------HEADER-------------------*/

.header-item .link:hover,
.header-item .link:focus {
    color: var(--main-color);
}

.header-item .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--headertext-color);
}

.contact,
.contact-item .contact-link:hover,
.contact-item .contact-link:focus {
    color: var(--main-color);
}

.contact,
.contact-item .contact-link,
.contact-item .contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-color);
}

.header {
    border-bottom: 1px solid #ECECEC;
    outline: 2px solid #ed0a0a;
}

.link.current {
    color: var(--main-color)
}

/*-----------------HERO--------------------------*/

.hero {
    /*padding: 20px;*/
    /*position: absolute;*/
    background-color: var(--background-color);
    text-align: center;
    width: 1600px;
    height: 600px;
}

/*pond {
    display: flex;
    flex-wrap: wrap;
}*/

.hero-title {
    
    text-transform: uppercase;
    text-align: center;
    max-width: 650px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    outline: 2px solid #ed0a0a;
    margin: 0 auto;
    
}

.hero-button {
    background-color: var(--main-color);
    color: var(--light-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    margin: 350px 700px 200px 700px;
    outline: 2px solid #ed0a0a;
}

.hero-button:hover,
.hero-buttom:focus {
    background-color: var(--buttomhover-color);
}

/*-----------------FEATURES----------------------*/

.hidden-title {
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    margin: -1px;
}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--headertext-color);
}

.feature-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.features {
    outline: 2px solid #ed0a0a;
}

/*-----------------SERVICE-----------------------*/

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.work {
    outline: 2px solid #ed0a0a;
}

/*-----------------TEAM-SPACE--------------------*/

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--headertext-color);
}

.name-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.team-text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.team {
    outline: 2px solid #ed0a0a;
}

/*-----------------FOOTER------------------------*/

.footer-logo,
.accent-logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-logo {
    color: var(--main-color);
    text-decoration: none;
}

.accent-logo {
    color: var(--light-color);
    text-decoration: none;
}

.adress-title {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--light-color);
}

.adress,
.contact-adress .contact-link:hover,
.contact-adress .contakt-link:focus {
    color: var(--main-color);
}

.adress,
.contact-adress .contact-link,
.contact-adress .contakt-link {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-section {
    background-color: var(--background-color);
    outline: 2px solid #ed0a0a;
}

/*----------PORTFOLIO BEGINING-------------*/
/*-----------------LOGO------------------------*/


.header-logo,
.logo-accent {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.header-logo {
    color: var(--main-color);
    text-decoration: none;
}

.logo-accent {
    color: var(--secondary-color);
    text-decoration: none;
}

/*-----------------HEADER-------------------*/


.header-item .link:hover,
.header-item .link:focus {
    color: var(--main-color);
}

.header-item .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: var(--headertext-color);
}

.contact,
.contact-item .contact-link:hover,
.contact-item .contact-link:focus {
    color: var(--main-color);
}

.contact,
.contact-item .contact-link,
.contact-item .contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.header {
    outline: 2px solid #ed0a0a;
}

.link.current {
    color: var(--main-color)
}

/*-----------------FILTER------------------------*/

.filter-button .filter-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--onetime-color);
}

.filter-link:hover,
.filter-link:focus {
    color: var(--light-color);
}

.filter-link:active {
    background-color: var(--main-color);
}

.filter-button .filter-link:hover,
.filter-button .filter-link:focus {
    background-color: var(--main-color)
}

.filter-button .filter-link:active {
    color: var(--light-color)
}

.filter {
    outline: 2px solid #ed0a0a;
}

.main {
    outline: 2px solid #ed0a0a;
}

.hidden-gallery {
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    margin: -1px;
}

/*---font-family: inherit;---*/
/*-----------------MAIN--------------------------*/

.main-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--headertext-color);
}

.main-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.gallery {
    outline: 2px solid #ed0a0a;
}

/*-----------------FOOTER------------------------*/

.footer-logo,
.accent-logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-logo {
    color: var(--main-color);
}

.accent-logo {
    color: #ffffff;
}

.adress-title {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--light-color);
}

.adress,
.contact-adress .contact-link:hover,
.contact-adress .contakt-link:focus {
    color: var(--main-color);
}

.footer-section {
    background-color: var(--background-color);
    outline: 2px solid #ed0a0a;
    
}

.adress,
.contact-adress .contact-link {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}